
html {
    scroll-behavior: smooth;
}

body {
	font: 400 15px Lato, sans-serif;
	line-height: 1.8;
	color: #818181;
	position: relative;
	overflow-y: auto;
	/*padding-top: 3rem;*/
	margin-top: 60px; /* make space for the navbar */
}
	
h2 {
	font-size: 24px;
	text-transform: uppercase;
	color: #303030;
	font-weight: 600;
	margin-bottom: 30px;
	
	/* adjust position for scroll spy */
	padding-top: 80px;
    margin-top: -60px;
}

h4 {
	font-size: 19px;
	line-height: 1.375em;
	color: #303030;
	font-weight: 400;
	margin-bottom: 30px;
} 

.bg-grey {
	background-color: #f0f0f0;
}

a.my-link {
	color: #448ac8;
}

.jumbotron {
  background-image: url("../img/jumbotron_bg9.jpg");
  background-size: cover;
}

.icon-scale
{
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1);
}

.icon-scale:hover
{
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.2);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.2);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.2);
	transition: all 200ms ease-in;
	transform: scale(1.2);
}

.navbar-custom {
	font-size: 14px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 2px;
	font-family: Montserrat, sans-serif;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #00c8ff;
}

/* hidden spacer before sections for proper offset 
h2:before {
    height: 60px;
    content: "";
	display:block;
}*/

/*hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
}*/
